In [1]:
import pandas as pd
import json
from IPython.core.display import HTML

In [2]:
with open('book_data.json') as f:
  books_data = json.load(f)

In [3]:
# Converting links to html tags
def path_to_image_html(path):
    return '<img src="'+ path + '" width="120" >'

In [4]:
df_books = pd.DataFrame(data=books_data['books'])

In [5]:
df_books.head()

,title,author,cover,pages
0,Tarkin,James Luceno,https://m.media-amazon.com/images/I/51-bF-A9wM...,354
1,Dark Lord,James Luceno,https://m.media-amazon.com/images/I/51jzFL3-77...,369

In [6]:
total_books = df_books['title'].count()
total_pages = df_books['pages'].sum()

In [7]:
print('2021: \nTotal Books Read : ' + str(total_books) + ' \nTotal Pages Read: ' + str(total_pages))

2021:
Total Books Read : 2
Total Pages Read: 723

In [8]:
# let's change the layout before moving on

df_books = df_books[['cover','title','author','pages']]

In [9]:
# Rendering the images in the dataframe using the HTML method with formatters

HTML(df_books.to_html(escape=False,formatters=dict(cover=path_to_image_html)))

In [10]:
# you can also not use formatters but create the html in the field itself
df_books_alt = df_books.copy()

In [11]:
df_books_alt['cover'] = '<img src="'+ df_books_alt['cover'] + '">'

In [12]:
HTML(df_books_alt.to_html(escape=False))

In [ ]:
# to render the dataframe as an html table
df_books.to_html(escape=False, formatters=dict(cover=path_to_image_html))

In [ ]:
# Saving the dataframe as a webpage
df_books.to_html('webpage.html',escape=False, formatters=dict(cover=path_to_image_html))